﻿
@{
    ViewData["Title"] = "Negócio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Dados comerciais</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtNumeroDocumento">Número Documento</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtNumeroDocumento" name="Numero Documento">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtRazaoSocial">Razão Social</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtRazaoSocial" name="Razão Social">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtEmail">Email</label>
                                    <input type="email" class="form-control form-control-sm input-validar" id="txtEmail" name="Email">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtEndereco">Endereço</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtEndereco" name="Endereço">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtTelefone">Telefone</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtTelefone" name="Telefone">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtImposto">% Imposto</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtImposto" name="Imposto">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label for="txtSimboloMoeda">Símbolo Moeda</label>
                                    <input type="text" class="form-control form-control-sm input-validar" id="txtSimboloMoeda" name="Símbolo Moeda">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="txtLogo">Logo</label>
                                    <input class="form-control-file" type="file" id="txtLogo" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img id="imgLogo" style="max-width:200px;" src="" class="rounded" alt="Logo">
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-sm" type="button" id="btnSalvar">Salvar</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/views/negocio-index.js"></script>
}