﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enviar Senha</title>
</head>
<body style="background-color:#EDF6FF">
    <br />
    <br />
    <div style="width:400px;border-radius:5px; margin:auto;background-color:#fff;box-shadow:0px 0px 10px  #DEDEDE;padding:20px">
        <table style="width:100%">
            <tr>
                <td align="center" colspan="2">
                    <h2 style="color:#004DAF">Bem-vindo</h2>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <p>Seu usuário foi criado com sucesso. Os detalhes da sua conta são:</p>
                </td>
            </tr>
            <tr>
                <td><h4 style="color:#004DAF;margin:2px">Email:</h4></td>
                <td>@ViewData["Email"]</td>
            </tr>
            <tr>
                <td><h4 style="color:#004DAF;margin:2px">Senha:</h4></td>
                <td>@ViewData["Senha"]</td>
            </tr>
        </table>
        <div style="background-color:#FFE1CE;padding:15px;margin-top:15px;margin-bottom:15px">
            <p style="margin:0px;color: #F45E00;">Recomendamos que você altere sua senha assim que fizer login.</p>
        </div>
        <table>
            <tr>
                <td>Para fazer login digite o seguinte URL:</td>
            </tr>
        </table>
        <a href="@ViewData["Url"]">Iniciar sessão</a>
    </div>
    <br />
    <br />
</body>
</html>
