﻿@model SistemaVenda.Web.ViewModels.PDFVendaViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imprimir Venda</title>
    <style>
        .container {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #03A99F;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbprodutos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbprodutos thead tr th {
                background-color: #03A99F;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbprodutos tbody tr td {
                padding: 10px;
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #03A99F;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }
    </style>
</head>
<body>

    <div class="">

        <table style="width:100%">
            <tr>
                <td>
                    <img src="@Model.Negocio.UrlLogo" style="width: 120px;height:120px" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr><td><p class="title2">NÚMERO VENDA</p></td></tr>
                        <tr><td>@Model.Venda.NumeroVenda</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p class="title">@Model.Negocio.Nome.ToUpper()</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Endereço: @Model.Negocio.Endereco</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Email: @Model.Negocio.Email</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">CLIENTE</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@Model.Venda.NomeCliente</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@Model.Venda.DocumentoCliente</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="tbprodutos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Produto</th>
                    <th class="tbth" style="width:130px">Quantidade</th>
                    <th class="tbth" style="width:130px">Preço</th>
                    <th class="tbth" style="width:130px">Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Venda.DetalheVenda)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.DescricaoProduto</p></td>
                            <td class="td-item"><p class="item">@item.Quantidade</p></td>
                            <td class="td-item"><p class="item">@Model.Negocio.SimboloMoeda @item.Preco</p></td>
                            <td style="background-color:#EDF6F9"><p class="item">@Model.Negocio.SimboloMoeda @item.Total</p></td>
                        </tr>

                    }
                }
                <tr>
                    <td colspan="2" rowspan="3">
                    </td>
                    <td class="td-item">
                        <p class="item-2">Sub Total</p>
                    </td>
                    <td class="item-3">
                        <p>@Model.Negocio.SimboloMoeda @Model.Venda.SubTotal</p>
                    </td>
                </tr>
                <tr>
                    <td class="td-item">
                        <p class="item-2">ICMS</p>
                    </td>
                    <td class="item-3">
                        <p>@Model.Negocio.SimboloMoeda @Model.Venda.ImpostoTotal</p>
                    </td>
                </tr>
                <tr>
                    <td class="item-3">
                        <p>Total</p>
                    </td>
                    <td class="item-3">
                        <p>@Model.Negocio.SimboloMoeda @Model.Venda.Total</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>