﻿
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-4">

        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Meus Dados</h6>
            </div>
            <div class="card-body">

                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <img id="imgFoto" src="" class="rounded mx-auto d-block" style="width: 200px; height: 200px;">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtNome">Nome</label>
                            <input type="text" class="form-control form-control-sm" disabled id="txtNome">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtEmail">Email</label>
                            <input type="email" class="form-control form-control-sm" id="txtEmail">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtTelefone">Telefone</label>
                            <input type="text" class="form-control form-control-sm" id="txtTelefone">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtRole">Role</label>
                            <input type="text" class="form-control form-control-sm" disabled id="txtRole">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success btn-sm btn-block" id="btnSalvarMudancas">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-key"></i> Alterar a senha</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtSenhaAtual">Senha Atual</label>
                            <input type="password" class="form-control form-control-sm input-validar" id="txtSenhaAtual" name="Senha Atual">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtSenhaNova">Nova Senha</label>
                            <input type="password" class="form-control form-control-sm input-validar" id="txtSenhaNova" name="Senha Nova">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label for="txtConfirmarSenha">Confirmar Senha</label>
                            <input type="password" class="form-control form-control-sm input-validar" id="txtConfirmarSenha" name="Confirmar Senha">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-success btn-sm btn-block" id="btnAlterarSenha">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/views/home-perfil.js"></script>
}