﻿
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Total de vendas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Vendas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalVenda">30</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-shopping-basket fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Receitas -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total de Receitas
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalReceitas">R$215,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total de Produtos -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total de Produtos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalProdutos">50</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Total de Categorias -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Total de Categorias
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCategorias">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tags fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart - Vendas dos últimos 7 dias -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Vendas dos últimos 7 dias</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area" style="height: 350px !important;">
                    <canvas id="chartVendas"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart - Produtos mais vendidos -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 bg-second-primary">
                <h6 class="m-0 font-weight-bold text-white">Produtos mais vendidos</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie" style="height: 350px !important ;">
                    <canvas id="chartProdutos"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- ============================================================
    SCRIPTS PARA ESTA PÁGINA
    ============================================================= -->
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <script src="~/js/views/dashboard-index.js"></script>

    <!-- É SÓ UM EXEMPLO - IGNORAR -->
    @* <script src="~/js/views/chart-bar-demo.js"></script>
    <script src="~/js/views/chart-pie-demo.js"></script> *@
}
