﻿
@{
    ViewData["Title"] = "Histórico Venda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos {
    <!-- ============================================================
    =ESTILOS PARA ESTA PÁGINA
    ===============================================================-->
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Histórico de Venda</h6>
    </div>
    <div class="card-body">
        <div class="form-row align-items-end">
            <div class="form-group col-sm-3">
                <label for="cboBuscarPor">Buscar por</label>
                <select class="form-control form-control-sm" id="cboBuscarPor">
                    <option value="data">Datas</option>
                    <option value="numero">Número Venda</option>
                </select>
            </div>
            <div class="form-group col-sm-3 pesquisa-data">
                <label for="txtDataInicio">Data Inicio</label>
                <input type="text" class="form-control form-control-sm" id="txtDataInicio">
            </div>
            <div class="form-group col-sm-3 pesquisa-data">
                <label for="txtDataFim">Data Fim</label>
                <input type="text" class="form-control form-control-sm" id="txtDataFim">
            </div>
            <div class="form-group col-sm-3 pesquisa-venda">
                <label for="txtNumeroVenda">Número Venda</label>
                <input type="text" class="form-control form-control-sm" id="txtNumeroVenda">
            </div>
            <div class="form-group col-sm-3">
                <button class="btn btn-success btn-block btn-sm" type="button" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbvenda">
                    <thead>
                        <tr>
                            <th>Data de Cadastro</th>
                            <th>Número Venda</th>
                            <th>Tipo Documento</th>
                            <th>Documento Cliente</th>
                            <th>Nome Cliente</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Detalhe Venda</h6>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtDataCadastro">Data de Cadastro</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDataCadastro" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNumVenda">Número Venda</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNumVenda" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtUsuarioCadastro">Cadastro de Usuário</label>
                                    <input type="text" class="form-control form-control-sm" id="txtUsuarioCadastro" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtTipoDocumento">Tipo Documento</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTipoDocumento" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtDocumentoCliente">Documento Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtDocumentoCliente" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtNomeCliente">Nome Cliente</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNomeCliente" disabled>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-4">
                                    <label for="txtSubTotal">Sub Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtSubTotal" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtIGV">IGV</label>
                                    <input type="text" class="form-control form-control-sm" id="txtIGV" disabled>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="txtTotal">Total</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTotal" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="tbProdutos" class="table table-sm table-striped">
                                        <thead>
                                            <tr>
                                                <th>Produto</th>
                                                <th>Quantidade</th>
                                                <th>Preço</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary btn-sm" target="_blank" id="linkImprimir">Imprimir</a>
                <button class="btn btn-danger btn-sm" type="button" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- ============================================================
    =SCRIPTS PARA ESTA PÁGINA
    ===============================================================-->

    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-pt.js"></script>
    <script src="~/js/views/historico-vendas.js"></script>
}